<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    Самый злостный читатель: <br>
    <span th:text="${student.getId()}">  </span>
    <span th:text="${student.getLastName()}">  </span>
    <span th:text="${student.getFirstName()}">  </span>
    <span th:text="${student.getPatronymic()}">  </span>
</body>
</html>